*{
    margin: 0;
    padding: 0;

} 

body {

    font-family: 'Open Sans', sans-serif;

}

.container {
    width: 333px;
    height: auto;
    margin: auto;
}

figure {
    width: 300px;
    height: auto;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

.titulo {
    font-size: 20px;
}
